<br>
<h1>Welcome to Friends on Rails!</h1><br/>
<p>If you're new here, create an account and sign in to start creating and managing your friends contact list :)</p>
<p>This app is part of a free Codemy.com <a href="https://www.youtube.com/watch?v=fmyvWz5TUWg" target="_blank">tutorial</a></p>
